body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  .dark-container {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rounded-box {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px;
  }
  
  .register_title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .name-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .name-icon {
    color: #bbb;
    font-size: 1.5rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .name-input {
    width: 100%; /* au lieu de 50% */
    padding: 14px;
    padding-left: 40px;
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    box-sizing: border-box;
  }
  
  .email-icon, .password-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
    font-size: 1.2rem;
  }
  
  .email-input, .password-input {
    width: 100%;
    padding: 14px;
    padding-left: 40px;
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    box-sizing: border-box;
  }
  
  .email-input::placeholder, .password-input::placeholder {
    color: #bbbbbb;
  }
  
  .password-icon {
    color: #966d17;
  }
  
  .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #8a8a8a;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .register-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .register-button {
    background-color: #0e60ac;
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  .register-button:hover {
    background-color: #0a4375;
  }
  
  input::placeholder {
    color: #bbbbbb;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #cccccc;
  }
  
  .login-link-text {
    color: #0e60ac;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: color 0.3s ease;
  }
  
  .login-link-text:hover {
    color: #0a4375;
    text-decoration: underline;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
